.main {
  width: 100%;
  h4 {
    white-space: nowrap;
    // margin: 0;
    font-size: 1.25em;
    cursor: pointer;
  }
}

.landing {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
  max-width: 1176px;
  // @media (max-width: 1024px) {
  //   padding: 18px 24px 8px;
  // }
}

.logo {
  font-size: 1.5em !important;
  // @media (max-width: 1024px) {
  //   font-size: 1.25em !important;
  // }
}

.classStore {
  display: flex;
  margin-left: 28px;
  h4:nth-of-type(1) {
    color: #ff5600;
    margin-right: 16px;
  }
  h4:nth-of-type(2) {
    margin-right: 36px;
  }
}

.input {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: -0.15px;
  margin: 0px;
  width: 100%;
  padding: 12px 52px 12px 16px;
  background: rgb(248, 248, 249);
  border: 1px solid rgb(248, 248, 249);
  box-sizing: border-box;
  border-radius: 24px;
  text-align: left;
  color: rgb(26, 26, 26);
}
